.popup__review {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 0;
    height: 0;
    visibility: hidden;

    transition: width ease 0.5s, height ease 0.5s, visibility ease 0.2s;
}

.popup._active > .popup__review {
    width: 267px;
    height:391px;
    visibility: visible;
}

.popup._active > .overlay {
    opacity: 1;
    visibility: visible;
}

.popup__close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 15px;
    height: 15px;
}

.popup__close::after,
.popup__close::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translate(0, -50%);
    background-color: var(--color-orange);
}

.popup__close::before {
    transform: rotate(-45deg);
}

.popup__close::after {
    transform: rotate(45deg);
}

.popup__review > .review__text p {
    -webkit-line-clamp: none;
    line-clamp: none;
}

.popup__review.review {
    padding-right: 15px;
}