
.picture {
    height: 387px;
    background-image: url(../../assets/images/panda-background.jpg);
}

.main {
    flex: 1 1 auto;
    padding-top: 40px;
    padding-bottom: 180px;
    background: var(--color-orange-light-grad);
}

.main__container {
}

.container {
}

.main__title {
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 10px;
}

.main__text {
    color: var(--color-white);
    margin-bottom: 43px;
    font-weight: 400;
    word-spacing: 0.7px;
}

.main__subtitle {
    color: var(--color-orange);
    margin-bottom: 60px;
    font-weight: 400;
    font-size: var(--font-size-h3);
}

.friend {
    padding: 40px 92px 62px;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.friend__title {
    text-align: center;
    color: var(--color-orange);
    margin-bottom: 20px;
    margin-left: -7px;
}

.title {
}

.friend__subtitle {
    margin-bottom: 60px;
    font-size: var(--font-size-subtitle);
}

.subtitle {
}

.friend__info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 44px;
}

.friend__quantity-num{
    font-size: 72px;
    line-height: 80%;
    color: var(--color-black);
    font-weight: 500;
    margin-bottom: 10px;
}

.friend__quantity-diet {
    position: relative;
    text-align: center;
    margin-right: 70px;
    margin-left: -10px;
    margin-top: 47px;
}

.friend__panda-icon {
    margin-left: 20px;

}

.friend__quantity-diet::before {
    content: "";
    position: absolute;
    top: 30px;
    right: -25px;

    background-image: url(../../assets/icons/x_icon.svg);
    width: 14px;
    height: 14px;
    background-size: cover;

}

.amount {
    margin-bottom: 30px;
}

.amount__text {
    color: var(--color-black);
    padding-left: 4px;
    margin-bottom: 4px;
}

.amount__donate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.amount__scale {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    padding-left: 7px;
    padding-right: 10px;

    margin-bottom: 87px;
}

.amount__scale::before,
.amount__scale::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 27px;

    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-color: #404950;

    border-radius: 2px;
}

.amount__scale::after {
    height: 2px;
    background-color: #72828E;
    z-index: 2;

    width: 100%;
}

.amount__scale-item {
    position: relative;
    width: 50px;
    height: 50px;
}

.amount__scale-item label {
    display: inline-block;

    position: relative;
    width: 50px;
    height: 50px;

    cursor: pointer;

    z-index: 3;
}

.amount__scale-item label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 10px;
    height: 10px;

    
    border-radius: 50%;
    background-color: var(--color-yellow);

    transition: all 0.2s ease;
}

.amount__scale-item label:hover::before {
    width: 15px;
    height: 15px;
}

.amount__scale-item label::after {
    content: attr(data-amount);
    position: absolute;
    bottom: -30px;

    left: -24%;
    font-size: 26px;
    font-weight: 500;
    text-align: center;

    transition: all 0.2s ease;
}

.amount__scale-item input {
    position: absolute;
    opacity: 0;
}

.amount__scale-item div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.amount__scale-item div::before,
.amount__scale-item div::after {
    opacity: 0;

    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 0px;
    height: 0px;

    border-radius: 50%;
    border: 2px solid var(--color-orange);

    transition: all 0.2s ease;
}

.amount__scale-item input:checked~div::before,
.amount__scale-item input:checked~div::after {
    opacity: 1;
}

.amount__scale-item input:checked~div::before {
    width: 35px;
    height: 35px;
}

.amount__scale-item input:checked~div::after {
    width: 20px;
    height: 20px;
}

.amount__scale-item input:checked+label::after {
    color: var(--color-orange);
}

.amount__input {
    position: relative;
    width: 268px;
    border-radius: 2px;
    margin-bottom: 25px;
    
}

.amount__input svg {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    fill:#929699;
    
}

.amount__input input{
    width: 100%;
    padding: 16px 143px 14px 9px;
    
    background-color: transparent;
    border: 1px solid #929699;
    
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    outline: none;
}

.amount__input input:focus {
    border: 1px solid var(--color-green);
    color: var(--color-green);
}

.amount__input input:focus::placeholder {
    color: var(--color-green);
} 

.amount__input input:focus+svg {
    fill: var(--color-green)
}

.amount__input input:invalid {
    border: 1px solid var(--color-red);
    color: var(--color-red)
}

.amount__input input:invalid::placeholder {
    color: var(--color-red);
} 

.amount__input input:invalid+svg {
    fill: var(--color-red)
}


::-webkit-inner-spin-button {
    appearance: none;
}
::-webkit-outer-spin-button{
    appearance: none;

}

.amount__radios {
    display: flex;
    justify-content: space-between;
    min-width: 268px;
    margin-bottom: 31px;
}

.amount__radios span {
   flex: 0 0 50%;
   display: block;
}

.amount__radios span{
    text-align: center;
 }

 .amount__radios span:last-child {
    padding-right: 20px;
}

.amount__radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 99;
}

.amount__radio+label {
    position: relative;
    padding-left: 26px;
    cursor: pointer;
}

.amount__radio+label::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid var(--color-orange);
    top: 0;
    left: 0;

    transition: all 0.2s ease;
}

.amount__radio:checked+label::before {
    background-color: var(--color-orange);
  }

.amount__btn {
    padding-left: 74px;
    padding-right: 74px;
}

.friend__share-text {
    text-align: center;
}

@media(max-width: 1000px) {
    .picture {
        height: 390px;
        background-position: -172px;
    }

    .main {
        padding-top: 42px;
        padding-bottom: 30px;
    }

    .main__title {
        margin-bottom: 30px;
        max-width: 778px;
    }

    .main__text {
        margin-bottom: 48px;
    }

    .main__subtitle {
        margin-bottom: 40px;
    }

    .friend {
        padding: 17px 44px 45px;
    }

    .friend__title {
        margin-bottom: 10px;
    }

    .amount__donate {
        padding: 0 20px;
    }

    .amount__scale-item:first-child {
        display: none;
    }

    .amount__scale {
        padding: 0;
    }

    .amount__scale-item label::after {
        left: 8px;
    }

    .amount__scale-item:nth-child(2) label,
    .amount__scale-item:last-child label{
        width: 30px;
    }

    .amount__scale-item:nth-child(2),
    .amount__scale-item:last-child {
        width: 30px;
    }

    .amount__scale-item:nth-child(7) label::after,
    .amount__scale-item:last-child label::after,
    .amount__scale-item:nth-child(2) label::after {
        left: 0;
    }

    .amount__scale-item:nth-child(3) label::after{
        left: 15px;
    }

    .amount__text {
        padding-left: 20px;
    }


    .footer__nav {
        padding-left: 13px;
    }

    .footer__copy {
        text-align: start;
    }
}

@media(max-width: 800px) {
    .amount__donate,
    .amount__text {
        padding: 0;
    }

    .amount__scale-item label::after {
        left: 0;
    }

    .amount__scale-item:nth-child(7) label::after,
    .amount__scale-item:last-child label::after,
    .amount__scale-item:nth-child(2) label::after,
    .amount__scale-item:nth-child(3) label::after {
        left: 0;
    }

    .amount__scale-item:nth-child(2) label,
    .amount__scale-item:last-child label{
        width: 50px;
    }

    .amount__scale-item:nth-child(2),
    .amount__scale-item:last-child {
        width: 50px;
    }
}

@media(max-width: 700px) {
    .friend {
        padding-left: 0;
        padding-right: 0;
    }

    .friend__subtitle {
        padding: 0 40px;
        text-align: center;
    }

    .amount__scale-item label::after {
        left: 0px;
    }
}

@media(max-width: 640px) {
    .picture {
        height: 369px;
        background-position: -320px;
        background-size: cover;
    }

    .main {
        padding-top: 30px;
        padding-bottom: 46px;
    }

    .main__title {
        margin-bottom: 18px;
    }

    .main__text {
        margin-bottom: 27px;
    }
    
    .main__subtitle {
        font-size: var(--font-size-subtitle);
        margin-bottom: 30px;
    }

    .friend {
        padding: 30px 0;
    }

    .friend__title {
        margin-bottom: 20px;
    }

    .friend__subtitle {
        margin-bottom: 50px;
        font-size: var(--font-size-h3);
    }

    .friend__info {
        margin-bottom: 27px;
    }

    .amount__text {
        padding-left: 10px;
        margin-bottom: 0;
    }

    .amount__scale-item:nth-child(2),
    .amount__scale-item:nth-child(3) {
        display: none;
    }

    .amount__scale {
        padding: 0 12px;
    }

    .amount__input {
        width: 180px;
        margin-bottom: 31px;
    }

    .amount__input input {
        padding: 10px 58px 10px 6px;
    }

    .amount__radios span:last-child {
        text-align: center;
    }

    .amount__radios {
        margin-bottom: 29px;
    }

    .footer__nav {
        padding-left: 0;
    }
}

@media(max-width: 635px) {
    .friend__panda-icon {
        width: 160px;
        height: 138px;
    }
    
    .friend__panda-icon img {
        width: 100%;
        object-fit: cover;
    }

}

@media(max-width: 480px) {
    .main__container {
        padding: 0 10px;
    }

    .main__title {
        line-height: 120%;
    }

    .picture {
        height: 221px;
        background-position: -200px;
    }

    .friend__info {
        justify-content: space-around;
    }

    .friend__quantity-num{
        font-size: 40px;
    }

    .friend__quantity-text {
        font-size: 12px;
    }

    .friend__subtitle {
        padding: 0 5px;
        font-size: 16px;
    }

    .amount__scale-item label::after {
        font-size: 16px;
        bottom: -15px;
    }
    
    .amount__scale-item label::before {
        width: 5px;
        height: 5px;
    }

    .amount__scale-item label:hover::before {
        width: 5px;
        height: 5px;
    }

    .amount__scale-item input:checked~div::before {
        width: 20px;
        height: 20px;
        border-width: 1px;
    }
    
    .amount__scale-item input:checked~div::after {
        width: 12px;
        height: 12px;
        border-width: 1px;
    }

    .friend__quantity-num {
        margin-bottom: 6px;
    }
    
    .friend__quantity-diet {
        margin-top: 37px;
        margin-right: 0;
        margin-left: 0;
        align-self: center;
    }

    .friend__quantity-diet::before {
        top: 20px;
        right: -15px;
        width: 8px;
        height: 8px;
    }

    .friend__quantity-text {
        max-width: 95px;
    }

    .amount__text {
        padding-left: 0px;
    }

    .amount__scale {
        padding: 0;
        margin-bottom: 40px;
    }

    .amount__scale::after {
        height: 1px; 
    }

}

@media(max-width: 320px) {
    .main {
        padding-bottom: 21px;
    }

    .friend {
        padding: 20px 0 20px;
    }

    .friend__title {
        margin-bottom: 10px;
    }

    .friend__subtitle {
        margin-bottom: 13px;
    }

    .friend__info {
        margin-bottom: 7px;
        justify-content: space-between;
    }

    .amount__text {
        margin-bottom: 0;
    }

    .amount__scale::before {
        height: 15px;
    }

    .amount__scale {
        margin-top: -10px;
        margin-bottom: 30px;
    }

    .amount__scale-item label::after {
        font-size: 13px;
        left: 10px;
        bottom: -7px;
    }

    .amount__scale-item:nth-child(7) label::after,
    .amount__scale-item:last-child label::after {
        left: 17px;
    }

    .amount__input {
        margin-bottom: 20px;
    }


    .friend__quantity-text {
        font-size: 9px;
    }

    .friend__share-text {
        min-width: 301px;
    }

    .amount__radios span:last-child {
        padding-right: 20px;
    }
}